main.jokenpo{
    width: 100%;
    height: 100%;
    background: rgb(0, 195, 255);
}

main.jokenpo .title{
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 5rem;
    letter-spacing: 10px;
    text-shadow: 3px 3px black;
}

.jokenpo_screen{
    width: 80%;
    height: 100%;
    padding: 20.3px;
    margin: 0 auto;
    background-color: rgb(1, 18, 75);
    border-radius: 10px;
    border: 2px solid blue;
}

.result_screen{
    margin-top: 5px;
    height: 500px;
    width: 100%;
    background-color: rgb(1, 22, 90);
    display: flex;
    padding: 10px 0 50px 0;
}

.cards{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cards button{
    width: 200px;
    height: 160px;
    background-color: rgb(1, 18, 75);
    border: 0;
    border-radius: 30%;
    cursor: pointer;
}

.cards button div{
    height: 100%;
}

.cards button img{
    width: 160px;
    height: 160px;
    border-radius: 30%;
}

.img_choices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.escolhido{
    border: 5px solid red!important;
}

.escolhido-player{
    border: 5px solid rgb(0, 47, 255)!important;
}

#enemy_choice_img,
#my_choice_img{
    width: 150px;
    height: 150px;
    border-radius: 40%;
}

#my_points{
    color: green;
    width: 300px;
    height: 30px;
    font-size: 17px;
    margin: 10px 0 0 10px;
    text-align: right;
    padding-right: 8px;
}

#enemy_points{
    color: red;
    width: 300px;
    height: 30px;
    font-size: 17px;
    margin: 10px 10px 0 0;
    text-align: left;
    padding-left: 8px;
}

#msg_result{
    width: 200px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.player-cards{
    margin-top: 10px;
}

@media screen and (max-width:1140px){
    .cards button img{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:700px){
    .cards button img{
        width: 150px;
        height: 150px;
    }

    #enemy_choice_img,
    #my_choice_img{
        width: 150px;
        height: 150px;
        border-radius: 40%;
    }

    .jokenpo_screen{
        width: 100%;
    }

    main.jokenpo h2{
        font-size: 50px;
    }

    .cards button{
        height: 140px;
    }
}

@media screen and (max-width:480px){
    .cards button img{
        width: 100px;
        height: 100px;
    }

    .cards button{
        height: 100px;
    }

    #enemy_choice_img,
    #my_choice_img{
        width: 100px;
        height: 100px;
        border-radius: 40%;
    }

    .jokenpo_screen{
        width: 100%;
    }

    main.jokenpo h2{
        font-size: 50px;
    }

    .result_screen{
        display: block;
    }

    #my_points{
        width:auto;
        margin: 0px 0px;
        text-align: center;
    }
    
    #enemy_points{
        width:auto;
        margin: 0px 0px;
        text-align: center;
    }
}
