*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    max-width:1200px;
    margin: 0 auto;
}

.master{
    background:black;
    width: 100%;
    height: 70vh;
}

.screen{
    width: 90%;
    height: 30vh;
    margin: 0 auto;
    border: 2px solid #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.log_battle{
    width: 40%;
    height: 30vh;
    margin: 10px auto 0px auto;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.log_battle p{
    color: white;
    border-bottom: 1px solid white;
    line-height: 25px;
}

/*Cor do texto do dano do player*/
.log_battle p.text-log-player{
    color: green;
}

/*Cor do texto do dano do monstro*/
.log_battle p.text-log-monster{
    color: red;
}

/*Cor do texto dos recursos*/
.log_battle p.text-log-resource{
    color: gold;
}

.screen img{
    transform: rotateY(3.142rad);
}

.menu_buttons{
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.menu_buttons button{
    height: 50px;
    width: 200px;
    font-size: 2rem;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.menu_buttons button:hover{
    border: 2px solid green;
}

#monster_hp_bar{
    background: red;
    width: 100%;/*barra do hp*/
    height: 15px;
}

#monster_hp_number{
    color: white;
    text-align: center;
    line-height: 20px;
}

#player_hp_bar{
    background: red;
    width: 100%;/*barra do hp*/
    height: 15px;
}

#player_hp_number{
    color: white;
    text-align: center;
    line-height: 20px;
}

#showPlayerDamage{
    color: green;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

#showMonsterDamage{
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.currency{
    padding: 30px;
    text-align: center;
    font-size: 30 px;
}

.currency #gold_currency{
    color:goldenrod;
}

